setuptools
wheel
debugpy
py-cpuinfo
charset-normalizer; python_version < "3.13"
patch-ng; python_version >= "3.12" or (platform_python_implementation == "PyPy" and platform_system == "Windows")
typing_extensions
